/* <----General Layout----> */
.page {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(50px, auto));
    grid-template-areas: 
        "banner"
        "pageContentData"
        "palette"
        "footer";
 }
 
 .banner {
    grid-area: banner;
    position: fixed;
    width: 100vw;
 }
 
 .nav {
     font-size: 1.1em;
 }
 .pageContentData {
    grid-area: pageContentData;
 }

 .footer {
    grid-area: footer;
 }

 /* <----Palette----> */
 #palette {
    grid-area: palette;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, minmax(50px, auto));
    grid-template-areas: 
        "buttonNav"
        "gridSection"
        "rgbSection";
 }

 #buttonNav {
    grid-area: buttonNav;
    width: 100%;
 }

 #gridSection {
     margin-top: 8em;
     grid-area: gridSection;
 }

 #rgbSection {
     grid-area: rgbSection;
 }

/* <----Elements of Palette---->  */
/* <----Button Nav----> */
 #buttonNav {
     display: flex;
     justify-content: space-evenly;
     position: fixed;
 }

/* <----Grid----> */
#gridSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* <----RgbValues----> */

.rgbValues { 
    margin: 1.5em;
    text-align: center;
}

/* <----Media Queries----> */
@media (min-width: 600px) {
    .pageContentData {
        margin-top: 7em;
    }
    
    .banner {
        display: flex;
        justify-content: space-around;
    }

    #subheading {
        text-align: left;
    }

    .nav {
        margin-top: 32.16px;
    }

    .navBar:hover .navList {
        display: flex;
        flex-direction: column;
    }

    .menu {
        box-shadow: 0px 50px 0px 0px rgba(211, 211, 211, 0.08),
                    -80px 0px 0px 0px rgba(211, 211, 211, 0.08),
                    -160px 0px 0px 0px rgba(211, 211, 211, 0.05),
                    0px 100px 0px 0px rgba(211, 211, 211, 0.05);
    }

    .button,
    #tryAgain {
        font-size: 1.3em;
        width: 140px;
        height: 70px;
    }
}

@media (min-width: 800px) {
    .nav {
        font-size: 1.2em;
    }
    
}

@media (min-width: 1100px) {

    .banner {
        justify-content: space-between;
    }

    .header {
        margin-left: 3em;
    }

    .nav {
        margin-right: 3em;
        font-size: 1.4em;
    }

    .navBar:hover .navList {
        display: flex;
        flex-direction: row;
    }

    .menu {
        box-shadow: -60px 0px 0px 0px rgba(211, 211, 211, 0.08),
                    -130px 0px 0px 0px rgba(211, 211, 211, 0.06),
                    -200px 0px 0px 0px rgba(211, 211, 211, 0.05),
                    -270px 0px 0px 0px rgba(211, 211, 211, 0.04),
                    -340px 0px 0px 0px rgba(211, 211, 211, 0.03),
                    -410px 0px 0px 0px rgba(211, 211, 211, 0.02),
                    -480px 0px 0px 0px rgba(211, 211, 211, 0.01);
    }

    .pageContentData {
        margin-top: 7em;
    }

    .button,
    #tryAgain {
        width: 200px;
        height: 60px;
    }

}