* {
	box-sizing: border-box;
}

/* Navigation Bar */
.navBar {
    list-style: none;
    padding: 0;
}

.navList {
    display: none;
}

.menu {
    font-size: 1.1em;
    color: gray;
    padding: 5px 5px;
    border: 3px rgb(211, 211, 211) solid;
    border-radius: 5px;
    box-shadow: -50px 0px 0px 0px rgba(211, 211, 211, 0.08),
                -108px 0px 0px 0px rgba(211, 211, 211, 0.05),
                -166px 0px 0px 0px rgba(211, 211, 211, 0.01),
                50px 0px 0px 0px rgba(211, 211, 211, 0.08),
                108px 0px 0px 0px rgba(211, 211, 211, 0.05),
                166px 0px 0px 0px rgba(211, 211, 211, 0.01);
}

.navBar:hover .menu {
    display: none;
}

.navBar:hover .navList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.1em;
    /* background-color: rgba(211, 211, 211, 0.08); */
    /* padding: 10px 10px; */
}

.navList li {
    padding: 10px 10px;
}

/* Elements*/
a {
    text-decoration: none;
    color: darkgray;
    padding: 5px 5px;
    margin: 5px 5px;
    border-radius: 3px;
}

a:hover {
    color: white;
    background-color: lightgrey;
    padding: 10px 30px;

    
}

h1, 
#subheading {
    color: red;
    text-shadow: 3px 3px lightgray;
    margin-inline-start: 0;
    /* margin: 0 15px; */
}

/* body {
   margin-left: 0; 
} */

.images {
    border: 2px solid darkgray;
    border-radius: 25%;
    width: 350px;
    height: 350px;
}

section h2 {
    /* padding: .2em; */
    text-transform: uppercase;
    text-align: center;
    color: red;
    font-style: bold;
    font-size: 1.2em;
}
.column {
    text-align: center;
    font-size: 1em;
    /* margin-bottom: 2em; */
}

p {
    font-size: 1.1em;
    line-height: 1.5em;
}

.transitionIntro h2 {
    /* padding-bottom: .5em; */
}

.transitionIntro a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.1em;
    color: black;
    border: solid black 2px;
    border-radius: 1em;
    padding: .5em;
}

.transitionIntro a:hover {
    background-color: white;
}

/* ------------------------>> DATA.HTML*/

form {
    /* box-sizing: border-box; */
    max-width: 450px;
    margin: 0 auto;
    padding-left: 20px;
    margin-bottom: 100px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0,0,50, .15);
}

#tryAgain,
#showRgb,
#hideRgb,
#show1,
#show2,
#hide2,
#hide3 {
    display: none;
}

label {
    display: block;
    text-align: left;
    padding: 20px 0;
}

input[type="radio"],
input[type="radio"] + label {
  display: inline;
  margin: 5px 5px 5px 0;

}

.radioGroup {
    display: flex;
    justify-content: space-around;
}

input[name="gNumber"] + label {
    background-color: darkgrey;
    border-radius: 5px;
    padding: 5px;
}

input[name="gResolution"] + label {
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
}

.colorFlag {
    padding: 5px;
    border-radius: 5px;
    color: white;
}

#black + label {
    background-color: black;
}

#black + label:hover {
    background-color: gray;
}

#brown + label {
    background-color: brown;
}

#brown + label:hover {
    background-color: rgba(165, 42, 42, 0.445);
}

#blue + label {
    background-color: blue;
}

#blue + label:hover {
    background-color: rgba(0, 0, 255, 0.329);
}

#red + label {
    background-color: red;
}

#red + label:hover {
    background-color: rgba(255, 0, 0, 0.541);
}

#yellow + label {
    background-color: yellow;
}

#yellow + label:hover {
    background-color: rgba(255, 255, 0, 0.123);
    color: lightgray;
}

input[type="radio"]:checked + label {
    color: whitesmoke;
    border: 5px solid whitesmoke;
}

/* select {
    background-color: lightgray;
    color: white;
    border-radius: 5px;
    border: 2px silver solid;
}

select:hover {
    background-color: rgba(211, 211, 211, 0.39);
}

option {
    background: red;
} */

.btn {
    background: red;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 20px 30px;
    display: block;
    text-align: center;
    margin: 40px auto 20px;
}

.btn:hover {
    background:  rgba(255, 0, 0, 0.541);
}

.transitionData {
    display: flex;
    flex-direction: row;
}

.btn:hover {
    cursor: pointer;
}

/* ------------------------>> PALETTE.HTML*/
#palette {
    padding-bottom: 7em;
}

#gridSection{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

#rgbSection {
    display: flex;
    flex-direction: row;
    
}

/* #grid {
    text-align: center;
    display: flex;
    flex: 1 50%;
} */

.dot {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    /* display: inline-block; */
}

/* Layout */

/* .banner {
    /* position: fixed;
    left: 0;
    top: 0;
    background-color: white;
    width: 100%; /*Needed so that sticky header background is not translucent*/
    /* padding-bottom: 1.9em; /* Needed so that sticky back white covers all */
    /* display: flex;
    justify-content: space-between; */
/* } */

/* .header {
    /* display: flex; 
    flex-direction: column;
    align-items: flex-start; */
    /* margin-left: 2em;
    margin-top: 1.5em;
} */

/* .text { */
    /* margin: 0 2em; */
    /* color: gray;
} */

.transitionIntro {
    /* display: flex;
    flex-direction: column; */
    background-color: rgba(255, 217, 0, 0.959);
    padding: 1em;
    text-align: center;
    /* margin-bottom: 5em; */
    margin-top: 2em;
}

footer {
    /* position: fixed; */
    /* left: 0;
    bottom: 0; */
    /* width: 100%; */
    text-align: center;
    background-color: rgb(90, 86, 86);
    /* padding: 2em 0 2em 0; */
}

/* Media Queries */

 /* @media screen and (min-width: 550px) { 
    .banner {
        display: flex;
        justify-content: space-between;
    }

    .navBar:hover .navList {
        flex-direction: row;
        width: 100px;
        height: auto;
        padding: 5px 25px;
    }

    .navList a {
        padding-left: 5px;
    }

    .pageContent {
        margin-top: 8.5em;        
    }

    .column {
        color: red;
    }

    p {
        text-align: left;
    }
    
    .images {
        float: left;
        margin-right: 30px;
        margin-bottom: 15px;
    }

    .dots {
        border-top: none;
    }

    .figures {
        display: inline-block;
    }

    .dots h2 {
        border-top: solid darkgray 2px;
    }
} */

/* @media screen and (min-width: 800px) {
    .dots h2,
    .lines h2,
    .figures h2 {
        border-top: none;
    }

    .navBar:hover .navList {
        width: 450px;
    }

    .navList a {
        padding: 5px 30px;
        justify-content: flex-end;
    }

    .images {
        width: 200px;
        height: 200px;
    }

    .column {
        color: darkgray;
    }

    .text {
        display: flex;
        flex-direction: row;
    }

    .dots,
    .lines,
    .figures {
        padding: 15px;
    }

    .lines {
        flex-grow: 5;
    }

    h2 {
        text-align: left;
    }

    .transitionIntro h2 {
        text-align: center;
    }

} */

/* @media screen and (min-width: 1100px) {
    .pageContent {
        display: flex;
        flex-direction: row;
    }
} */