* {
	box-sizing: border-box;
}

/* Navigation Bar */
.navBar {
    list-style: none;
    padding: 0;
}

.navList {
    display: none;
}

.menu {
    color: gray;
    padding: 5px 5px;
    border: 3px rgb(211, 211, 211) solid;
    border-radius: 5px;
    box-shadow: -50px 0px 0px 0px rgba(211, 211, 211, 0.08),
                -108px 0px 0px 0px rgba(211, 211, 211, 0.05),
                -166px 0px 0px 0px rgba(211, 211, 211, 0.01),
                50px 0px 0px 0px rgba(211, 211, 211, 0.08),
                108px 0px 0px 0px rgba(211, 211, 211, 0.05),
                166px 0px 0px 0px rgba(211, 211, 211, 0.01);
}

.navBar:hover .menu {
    display: none;
}

.navBar:hover .navList {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 1.1em;
}

.navList li {
    padding: 10px 10px;
}

/* Elements of Page*/
.banner {
    background-color: white;
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(211, 211, 211);
    padding: 5px 5px;
    margin: 5px 5px;
    border-radius: 3px;
}

a:hover {
    color: white;
    background-color: lightgrey;
    padding: 10px 30px;
}

h1, 
#subheading {
    color: red;
    text-shadow: 3px 3px lightgray;
    margin-inline-start: 0;
}

h1 {
    font-size: 3em;
    margin-bottom: 0;
}

#subheading {
    margin-top: 0;
    margin-bottom: 2em;
}

.pageContent {
    margin-top: 11em;
}

.images {
    border: 2px solid darkgray;
    border-radius: 25%;
    width: 350px;
    height: 350px;
}

section h2 {
    text-transform: uppercase;
    text-align: center;
    color: red;
    font-style: bold;
    font-size: 1.5em;
}
.column {
    text-align: center;
    font-size: 1em;
}

p {
    font-size: 1.2em;
    line-height: 1.5em;
    color: gray;
    margin-right: 2em;
    margin-left: 2em;
}

.transitionIntro {
    background-color: rgba(255, 217, 0, 0.959);
    padding: 1em;
    text-align: center;
    margin-top: 2em;
}

.transitionIntro a {
    text-decoration: none;
    font-weight: bolder;
    font-size: 1.1em;
    color: black;
    border: solid black 2px;
    border-radius: 1em;
    padding: .5em;
}

.transitionIntro a:hover {
    background-color: white;
}

.footer {
    background-color: rgb(90, 86, 86);
    color: lightgray;
    text-align: center;
    padding: 1.5em 0;
}

/* ------------------------>> DATA.HTML*/

.pageContentData {
    margin-top: 9em;
}

form {
    max-width: 450px;
    margin: 0 auto;
    margin-top: 2em;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(0,0,50, .15);
}

label {
    display: block;
    text-align: left;
    padding: 20px 0;
}

input[type="radio"],
input[type="radio"] + label {
  display: inline;
  margin: 5px 5px 5px 0;

}

.radioGroup {
    display: flex;
    justify-content: space-around;
}

input[name="gNumber"] + label {
    background-color: darkgrey;
    border-radius: 5px;
    padding: 5px;
}

input[name="gResolution"] + label {
    background-color: lightgray;
    border-radius: 5px;
    padding: 5px;
}

.colorFlag {
    padding: 5px;
    border-radius: 5px;
    color: white;
}

#black + label {
    background-color: black;
}

#black + label:hover {
    background-color: gray;
}

#brown + label {
    background-color: brown;
}

#brown + label:hover {
    background-color: rgba(165, 42, 42, 0.445);
}

#blue + label {
    background-color: blue;
}

#blue + label:hover {
    background-color: rgba(0, 0, 255, 0.329);
}

#red + label {
    background-color: red;
}

#red + label:hover {
    background-color: rgba(255, 0, 0, 0.541);
}

#yellow + label {
    background-color: yellow;
}

#yellow + label:hover {
    background-color: rgba(255, 255, 0, 0.123);
    color: lightgray;
}

input[type="radio"]:checked + label {
    color: whitesmoke;
    border: 5px solid whitesmoke;
}

.btn {
    background: red;
    border: none;
    border-radius: 10px;
    color: white;
    padding: 20px 30px;
    display: block;
    text-align: center;
    margin: 40px auto 20px;
}

.btn:hover {
    background:  rgba(255, 0, 0, 0.541);
}

.btn:hover {
    cursor: pointer;
}

/* ------------------------>> PALETTE*/

#buttonNav {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 0;
}

.button, 
#tryAgain {
    width: 100px;
    height: 100px;
    border-radius: 10px;
    font-size: 1.2em;
}

#tryAgain {
    text-align: center;
    background-color: rgba(230, 222, 118, 0.5);
    border: 2px solid grey;
    color: grey;
}

#tryAgain:hover {
    cursor: pointer;
    color: rgb(163, 163, 163);
    border: 3px solid whitesmoke;
}

.show {
    color: white;
    background-color: rgb(180, 233, 228);
    border: 2px solid turquoise;
}

.show:hover {
    background-color:  rgba(180, 233, 228, 0.5);
    cursor: pointer;
}

.hide {
    color: white;
    background-color: rgb(248, 185, 174);
    border: 2px solid tomato;
}

.hide:hover {
    background-color: rgba(248, 185, 174, 0.5);
    cursor: pointer;
}

#tryAgain,
.button {
    display: none;
}

#grid,
#grid2,
#grid3 {
    background-color: rgba(211, 211, 211, 0.1);
    padding: 10px;
    border-radius: 10px;
    margin: 1em 0;
}

.dot {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

#gridSection,
#grid,
#grid2,
#grid3 {
    display: none;
    margin: 20px;
}

#rgbSection {
    display: none;
}

.rgbTitle {
    font-weight: bold;
}

.rgbValues {
    color: rgb(211, 211, 211);
    background-color: rgba(211, 211, 211, 0.1);
    border-radius: 10px;
    padding: 10px;
    font-size: 1em;
    line-height: 2em;
}

#rgbValues {
    background-color: rgba(211, 211, 211, 0.3);
}

.rgbValue {
    display: inline-block;
}
